.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 100;
}

.links a {
    font-weight: 700;
    font-size: 64px;
    transition: all ease 0.2s;
}

.links a:active {
    color: var(--red);
}

.active {
    color: var(--red);
}